<div id="search-component">
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let artist of artists$ | async" >
      <a href="/artist/{{artist._id}}">
        {{artist.name}}
      </a>
    </li>
  </ul>
</div>