
<div class="gallery-app">

</div>

<mat-sidenav-container class="example-container">
  
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <mat-nav-list>
      <a mat-list-item *ngFor="let artist of artists" href="/artist/{{artist.id}}">{{artist.name}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <mat-toolbar>{{ title }} <button mat-button (click)="sidenav.toggle()">Artists</button>
      <app-searchbar></app-searchbar>
      </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


