<h2>
  {{artist?.name}}
</h2>
<mat-grid-list cols="4" rowHeight="4:3">
  <mat-grid-tile *ngFor="let photo of artist?.pics">
      <img  src={{photo}} alt="" (click)="this.openDialog(photo)">
  </mat-grid-tile>
</mat-grid-list>