/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  font:500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

h2{
  text-align: center;
}

.gallery-app .example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #eee;
}

.gallery-app mat-sidenav-container{
  width: 300px;
}

.img-in-dialog{
  max-width: 100%;
  max-height: calc(100vh - 90px);
}

 .mat-dialog-container{
  max-height: calc(100vh - 30px) !important;
  top: 15px !important;
  overflow: visible !important;
}
